---
const aboutRows = [
  {
    image: "/assets/about-1.jpg",
    icon: "/assets/about-1-icon.png",
    title: "Permítenos ayudarte con la salud de tu mascota",
    description: "Nuestros veterinarios expertos están aquí para brindar atención integral y orientación para asegurar que tu mascota se mantenga en perfecta salud."
  },
  {
    image: "/assets/about-2.jpg",
    icon: "/assets/about-2-icon.png",
    title: "El personal atento cuidará de tu mascota",
    description: "Tu mascota estará en buenas manos con nuestro personal compasivo y bien capacitado, que trata a cada mascota como familia."
  },
  {
    image: "/assets/about-3.jpg",
    icon: "/assets/about-3-icon.png",
    title: "Permítenos arreglar a tu mascota preciosa y amada",
    description: "Desde el baño hasta el estilismo, ofrecemos servicios profesionales de peluquería para mantener a tu mascota luciendo y sintiéndose de lo mejor."
  }
];
---

<section class="section__container about__container" id="about">
  <p class="section__subheader">Sobre Nosotros</p>
  <h2 class="section__header">Lo que podemos hacer por ti</h2>
  {aboutRows.map((row) => (
    <div class="about__row">
      <div class="about__image">
        <img src={row.image} alt="about" />
      </div>
      <div class="about__content">
        <span><img src={row.icon} alt="about-icon" /></span>
        <h4>{row.title}</h4>
        <p>{row.description}</p>
      </div>
    </div>
  ))}
</section>
