---
---

<header id="home">
  <div class="section__container header__container">
    <div class="header__content">
      <h4>Bienvenido</h4>
      <h1>Pet Health<br /><span>AI</span></h1>
      <h2>Predicción Temprana con Inteligencia Artificial</h2>
      <p>
        Sistema multimodal de machine learning que combina datos clínicos e imágenes
        para predecir enfermedades en mascotas con alta precisión.
      </p>
      <div class="header__btn">
        <button>
          Explorar Proyecto
          <span><i class="ri-arrow-right-line"></i></span>
        </button>
      </div>
    </div>
    <div class="header__image">
      <img
        src="/assets/header-bg.png"
        alt="header-bg"
        class="header__image-bg"
      />
      <img src="/assets/header.png" alt="header" />
    </div>
  </div>
  <div class="header__bottom"></div>
</header>
