---
---

<header id="home">
  <div class="section__container header__container">
    <div class="header__content">
      <h4>Bienvenido</h4>
      <h1>Pet-Health AI<br /></h1>
      <h2>Ayuda a tus mascotas lo antes posible</h2>
      <p>
        Ofrecemos un sistema multimodal de machine learning que ayuda a la predicción temprana de enfermedades de tus mascotas.
      </p>
      <div class="header__btn">
        <button>
          Probar ahora
          <span><i class="ri-arrow-right-line"></i></span>
        </button>
      </div>
    </div>
    <div class="header__image">
      <img
        src="/assets/header-bg.png"
        alt="header-bg"
        class="header__image-bg"
      />
      <img src="/assets/header.png" alt="header" />
    </div>
  </div>
  <div class="header__bottom"></div>
</header>
