---
const products = [
  {
    image: "/assets/product-1.jpg",
    title: "Bolsas para desechos de perro",
    description: "Bolsas convenientes y ecológicas para la fácil eliminación de desechos de mascotas.",
    price: "$29.00 USD"
  },
  {
    image: "/assets/product-2.jpg",
    title: "Accesorios para mascotas",
    description: "Explora nuestra gama de accesorios elegantes y funcionales para tus amigos peludos.",
    price: "$49.00 USD"
  },
  {
    image: "/assets/product-3.jpg",
    title: "Comida",
    description: "Opciones de comida de alta calidad y nutritiva para mantener a tus mascotas sanas y felices.",
    price: "$29.00 USD"
  }
];
---

<section class="product" id="store">
  <div class="section__container product__container">
    <p class="section__subheader">Productos</p>
    <h2 class="section__header">Productos destacados para mascotas</h2>
    <div class="product__grid">
      {products.map((product) => (
        <div class="product__card">
          <img src={product.image} alt="product" />
          <h4>{product.title}</h4>
          <p>{product.description}</p>
          <h3>{product.price}</h3>
        </div>
      ))}
    </div>
  </div>
</section>
